<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/productList.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
      <!-- Signin form start -->
      <%- include("components/header.ejs")%>
      <!-- Sighin form close -->
      <!-- Header close -->

      <!-- Nav bar -->
      <%- include("components/navbar.ejs")%>

      <script src="/static/js/user.js"></script>
      <!-- nav bar closed -->
    <!-- body content -->

    <div id="bigContainer" class="container">
        <div id="leftBrands">
            <div class="brands">
                <div class="brand">
                    <p class="name">BRANDS</p>
                    <p class="hyphen">-</p>
                </div>
                <div id="box"><br>
                    <div class="checkbox">
                        <label for="checkbox">
                            <input type="checkbox" onclick="ethnix()" id="ethnix" />
                            ETHNIX
                        </label><br><br>
                    </div>
                    <div class="checkbox">
                        <label for="checkbox">
                            <input type="checkbox" onclick="stop()" id="stop" />
                            STOP
                        </label>
                    </div>
                </div>
                <div class="brand">
                    <p class="name">SIZE
                    <p class="hyphen">-</p>
                </div>
                <div id="sizeBox"><br>
                    <label>
                        <input type="checkbox" />
                        38 (5)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" />
                        40 (5)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" />
                        42 (5)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" />
                        44 (5)
                    </label>
                    <br>

                </div>
                <div class="brand">
                    <p class="name">COLORS</p>
                    <p class="hyphen">-</p>
                </div>
                <div id="colorBox">
                    <br>
                    <label>
                        <input type="checkbox" id="black" onclick="black()" />
                        Black(2)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" id="blue" onclick="blue()" />
                        Blue (2)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" id="orange" onclick="orange()" />
                        Orange(1)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" id="pink" onclick="pink()" />
                        Pink (1)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" id="red" onclick="red()" />
                        Red (1)
                    </label>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" id="white" onclick="white()" />
                        White (1)
                    </label>
                </div>
                <div class="brand">
                    <p class="name">DELIVERY TYPE
                    <p class="hyphen">-</p>
                </div>
                <div id="delivery">
                    <br>
                    <label>
                        <input type="checkbox" />
                        Express Store Pick up (8)
                    </label>
                </div>
                <div class="brand">
                    <p class="name">PRICE
                    <p class="hyphen">-</p>
                </div>
                <div id="price">
                    <label>
                        <input type="checkbox" id="minValue" onclick="sortLow()" />
                        1001-2000 (5)

                    </label>
                    <br><br>
                    <label>
                        <input type="checkbox" onclick="sortHigh()" id='check' />
                        2001-3000 (3)
                    </label><br><br>
                    <p>Enter a price range</p>
                    <div id="amountRange">
                        <div class="customTextfield">&#x20B9;<input name="amount" type="text" class="priceInput" />
                        </div>
                        <h3 style="font-weight:normal;margin:10px 10px;">to</h3>
                        <div class="customTextfield">&#x20B9;<input name="amount" type="text" class="priceInput" />
                        </div>
                    </div>
                    <button onclick="refine()" id="refineBtn">REFINE SEARCH</button>
                </div>
            </div>
        </div>



        <div id="right">
            <h2 id="border"><span>KURTA SETS</span>(8 ITEMS)
                <p id="sort">Sort by : Relevance |<span class="changecolor">Popular</span> | New | Discount | Best
                    Seller | Price :Low |
                    High</p>
            </h2>
            <div class="option">
                <button onclick="click()" id="firstinsideOp">LENGTH</button>
                <button onclick="click()" class="insideOp">SLEEVES</button>
                <button onclick="click()" class="insideOp">COOLAR</button>
                <button onclick="click()" class="insideOp">OCCASION</button>
                <button onclick="click()" class="insideOp">PATTERN</button>
                <button onclick="click()" class="insideOp">CLOSURE TYPE</button>
            </div>
            <div id="checkBox">
                <label><input type="checkbox" /> Full Sleeves</label>
            </div>
            <div id="items">
            </div>
        </div>
    </div>
    </div>
    
</body>

</html>
<script src="/static/js/productList.js"></script>