@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* <!-- header --> */
.home-header {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  text-align: left;
  width: 100%;
  margin: auto;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 0 0 2px rgba(0, 0, 0, 0.05);
}
.left-header {
  display: flex;
  align-items: center;
  width: 59%;
  justify-content: space-between;
}
.right-header {
  float: right;
  align-items: center;
  justify-content: space-between;
}
.head-logo {
  margin: 11px 0 9px;
}
/* <!-- Header close --> */
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #fff;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}

a {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

p {
  margin: 0.75rem 0 0;
}
.pm {
  font-size: 20px;
  font-weight: bold;
}

main {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 80%;
  display: flex;
}
label {
  font-size: 16px;
}
input {
  width: 100%;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.Fields {
  float: left;
}

.basket {
  width: 70%;
}

.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
  content: "";
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside {
  float: left;
  width: 30%;
}

.summary {
  background-color: rgb(246, 246, 246);
  padding: 1rem;
  position: fixed;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.summary-total-items {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

#sb {
  font-size: 23px;
  font-weight: bold;
}
#pc {
  height: 100px;
  width: 100%;
  background-color: rgb(228, 228, 228);
  padding: 20px;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}

.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8b0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
  font-weight: bolder;
  font-size: 12px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff5d3b 0, #ff2c65 100%);
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

/*-------- newcss ----------*/

#checkoutt {
  width: 70%;
  float: left;
}

.child {
  width: 80%;
  height: 60px;
  background-color: #cecece;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 17px;
}

#change1 {
  height: 30px;
  width: 150px;
  float: right;
  margin-left: auto;
  margin-right: 20px;
  color: orangered !important;
  border: none;
  background-color: white;
}

.child2 {
  width: 80%;
  background-color: none;
  margin-top: 30px;
  border: 1px solid #cecece;
}

#but11 {
  height: 40px;
  width: 300px;
  background: linear-gradient(to right, #ff5d3b 0, #ff2c65 100%);
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 20px;
}
.proceed {
  width: 100%;
  text-align: right;
}

.delivery {
  width: 100%;
  height: 70px;
  background-color: #cecece;
  display: flex;
  padding-top: 10px;
}

.address {
  width: 60%;
  height: 50px;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

#aa {
  width: 60%;
  height: 50px;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
#bb {
  width: 60%;
  height: 50px;
  background-color: beige;
  margin-left: 2px;
  background-color: white;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

#a1 {
  border-top: 2px solid #f5f5f0;
  width: 100%;
  /* visibility:visible; */
  display: block;
  min-height: 600px;
}

#a3 {
  border-top: 2px solid #f5f5f0;
  width: 100%;
  /* visibility:visible; */
  display: none;
  min-height: 600px;
}

.div1 {
  display: flex;
  margin-left: 20x;
  margin-top: 10px;
  margin-left: 20px;
}
.div2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

#a2 {
  /* visibility: hidden; */
  position: relative;
  display: none;
  min-height: 600px;
}

.AdressLines {
  border: 1px solid #e7e7e7;
  height: 36px;
  margin-right: 20px;
  width: 460px;
  margin-bottom: 20px;
}
.fsname {
  border: 1px solid #e0e0d1;
  height: 36px;
  margin-right: 20px;
  width: 45%;
}
.code {
  border: 1px solid #e0e0d1;
  height: 36px;
  margin-right: 20px;
  width: 40px;
  background-color: #f5f5f0;
}

.num {
  border: 1px solid #e0e0d1;
  height: 36px;
  margin-right: 20px;
  width: 84%;
}

.pincode {
  border: 1px solid #e0e0d1;
  height: 36px;
  margin-right: 20px;
  width: 90%;
  margin-left: 20px;
  margin-top: 20px;
}
.pincode1 {
  border: 1px solid #e0e0d1;
  height: 36px;
  width: 60%;
  margin-left: 20px;
  margin-top: 20px;
}
#but2 {
  color: red;
  border: red 0.5px solid;
  padding: 5px;
  background-color: rgb(246, 226, 226);
}

.cs {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.city {
  border: 1px solid #e0e0d1;
  height: 36px;
  margin-right: 20px;
  width: 45%;
  background-color: #f5f5f0;
}

.Addresses {
  border: 1px solid #e0e0d1;
  height: 36px;
  margin-right: 20px;
  width: 90%;
  margin-bottom: 20px;
}
input {
  box-sizing: border-box;
  padding-left: 10px;
}

@media screen and (max-width: 640px) {
  aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
  }
}

@media screen and (max-width: 960px) {
  main {
    width: 100%;
    flex-direction: column;
  }
  #checkoutt {
    padding: 0 1rem;
    width: 100%;
  }
  aside {
    width: 100%;
  }
  .summary {
    right: 0;
  }
  #but11 {
    width: 100%;
  }
}
