
<div class="container-fluid">
        <!-- Footer-1 start -->
        <div class="footer-1">
            <div class="f1b1 fb">
              <h1>DOWNLOAD THE APP ON</h1>
              <ul>
                <li class="appStore">
                  <a
                    href="https://itunes.apple.com/in/app/shoppers-stop/id1047171444?mt=8"
                    target="_blank"
                    ><img src="./static/img/App Store.png" alt=""
                  /></a>
                </li>
                <li class="googlePlay">
                  <a
                    href="https://play.google.com/store/apps/details?id=shoppersstop.shoppersstop&amp;hl=en"
                    target="_blank"
                    ><img src="./static/img/Google Play.png" alt=""
                  /></a>
                </li>
              </ul>
            </div>
            <div class="f1b2 fb">
              <div class="services">
                <ul>
                  <li>
                    <span class="authenticProduct"
                      ><img src="./static/img/AP.png" alt=""
                    /></span>
                    <span>Authentic Products</span>
                  </li>
                  <li>
                    <span class="freeDelivery"
                      ><img src="./static/img/FD.png" alt=""
                    /></span>
                    <span>Free Delivery*</span>
                  </li>
                  <li>
                    <span class="easyExchangeAndReturn"
                      ><img src="./static/img/ER.png" alt=""
                    /></span>
                    <span>Easy Exchange and Return</span>
                  </li>
                  <li>
                    <span class="expressStorePickup"
                      ><img src="./static/img/ESP.png" alt=""
                    /></span>
                    <span>Express Store Pickup</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="f1b3 fb">
              <h1>FOLLOW US</h1>
              <br />
              <ul>
                <li class="facebook-icon">
                  <a
                    href="https://www.facebook.com/shoppersstopindia"
                    target="_blank"
                    class="fa fa-facebook"
                  ></a>
                </li>
                <li class="twitter-icon">
                  <a
                    href="https://twitter.com/shoppersstop"
                    target="_blank"
                    class="fa fa-twitter-square fa-lg"
                  ></a>
                </li>
                <li class="instagram-icon">
                  <a
                    href="https://instagram.com/shoppers_stop/"
                    target="_blank"
                    class="fa fa-instagram fa-lg"
                  ></a>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
          <!-- Footer-1 end -->
  
          <!-- Footer-2 start -->
          <div class="footer-2">
            <div class="f2b1 fb">
              <h1 class="fa fa-question-circle-o fa-lg">QUESTIONS?</h1>
              <br />
              <a href="mailto:customercare@shoppersstop.com"
                >customercare@shoppersstop.com</a
              >
            </div>
            <div class="f2b2 fb">
              <h5>VERIFIED BY</h5>
              <img src="./static/img/verified by.png" alt="" />
            </div>
          </div>
          <div class="f2b3 fb">
            <h5>PAY SECURELY BY</h5>
            <img src="./static/img/pay by.png" alt="" />
          </div>
          <!-- Footer-2 end -->
        </div>