    <div id="overlay"></div>
      <!-- Signin form start -->
      <div class="signin">
        <div class="signinform">
          <div class="close">+</div>
          <P style="font-weight: bold; font-size: large;">SIGN IN</P>
          <br/>
          <p>Have an account?Sign In</p>
          <br />
          <form action="">
            <input
              type="number"
              id="number"
              placeholder="&#x1F4DE; +91 Mobile Number(10 digits)*"
            />
            <br />
            <br />
            <br />

            <a id="otp"><button id="otpbtn">SEND OTP</button></a>
            <br />
            <br />

            <a style="color: #ff5d3b" id="gmail">Sign in with Email</a>
            <br />
            <br />

            <div class="viaa">
              <p>
                <sup>__________</sup>
                <button class="via">Or via Social Account</button>
                <sup>__________</sup>
              </p>
            </div>
            <br />
            
            <a href=""
              ><button class="fb-1" class="social1">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3kP5RJhj2eymAGMmRTY-IXlI0pSolG36KtA&usqp=CAU"
                /></button
            ></a>
            <a href=""
              ><button class="google" class="social2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg51uBKp7XgHa_6qu3-2nvm-5xsMujovbRZA&usqp=CAU"
                /></button
            ></a>
            <br />
            <p>
              <br/>
              Create a new account?
              <a id="go2sup" style="color: #ff5d3b; font-weight: bold">Sign Up</a>
            </p>
            <br />
            <div id="disc" class="disc" class="siuplnk">
              Sign up & get 10% off
            </div>
          </form>
        </div>
      </div>

      <div class="signin2">
        <div class="signinform2">
          <div class="close2">+</div>
          <P style="font-weight: bold; font-size: large;">SIGN IN</P>
          <br/>
          <p>Have an account?Sign In</p>
          <br />
          <form id="s2">
            <input type="text" id="email2" placeholder="Email or mobile Number" />
            <br />
            <input type="password" id="password2" placeholder="Password" />
            <br />
            <br />
            <br />

            <a href="" id="sinbtn"><button>SIGN IN</button></a>
            <br />
            <br />
            <div style="display: flex">
              <a
                id="sinwo"
                style="
                  float: left;
                  color: #ff5d3b;
                  text-decoration: underline;
                  margin-left: 55px;
                "
                >Sign in with OTP</a
              >

              <a
                href="#"
                style="
                  float: left;
                  color: #ff5d3b;
                  text-decoration: underline;
                  margin-left: 40px;
                "
                >Forgot password?</a
              >
            </div>

            <br />
            <div class="viaa">
              <p>
                <sup>__________</sup>
                <button class="via">Or via Social Account</button>
                <sup>__________</sup>
              </p>
            </div>
            <br />
            <a href=""
              ><button class="fb-1" class="social1">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3kP5RJhj2eymAGMmRTY-IXlI0pSolG36KtA&usqp=CAU"
                /></button
            ></a>
            <a href=""
              ><button class="google" class="social2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg51uBKp7XgHa_6qu3-2nvm-5xsMujovbRZA&usqp=CAU"
                /></button
            ></a>
            <br />
            <p>
              <br/>
              Create a new account?
              <a
                style="color: #ff5d3b; font-weight: bold"
                class="siuplnk"
                id="gosup"
                >Sign Up</a
              >
            </p>
            <br />
            <div id="disc" class="disc">Sign up & get 10% off</div>
          </form>
        </div>
      </div>

      <div class="signup">
        <div id="signupform">
          <div class="close1">+</div>
          <div>
          <p class="siuplnk" style="font-weight: bold; font-size: large;" >SIGN UP</p>
        </div>
      </br>
          <p>Create your account on Shoppers Stop</p>
          <br/>

          <div id="inputdiv">
        
          <form id="f2">
            <input type="text" placeholder="First Name $ Last Name*" id="name" />
            <br />
            

            <input type="email" placeholder="Email*" id="email" />
            <br />
            <input
              type="number"
              placeholder=" +91 Mobile Number(10 digits)*"
              id="mobile"
            />
            <br />
            <input
              type="password"
              placeholder=" Set a password (min 6 and max 15 characters)*"
              id="password"
            />
            <br />
            <div id="radio">
              <input
                type="radio"
                id="female"
                name="gender"
                style="background: #ff5d3b;"
              />
              <label for="female">Female</label>
        
              <input
                type="radio"
                id="male"
                name="gender"
                style="background-color: #ff5d3b; margin-left:30px;"
              />
              <label for="male">Male</label>
              <br />
              </div>
            </div>
          </form>
          <br />
          <button id="continue">CONTINUE</button>
          <div class="viaa">
            <br />
            <p>
              <sup>__________</sup>
              <button class="via">Or via Social Account</button>
              <sup>__________</sup>
            </p>
            <br />
          </div>
          <a href=""
            ><button class="fb-1" class="social1">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3kP5RJhj2eymAGMmRTY-IXlI0pSolG36KtA&usqp=CAU"
              /></button
          ></a>
          <a href=""
            ><button class="google" class="social2">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg51uBKp7XgHa_6qu3-2nvm-5xsMujovbRZA&usqp=CAU"
              /></button
          ></a>
          <br />
          <br />

          
          <p id="go2si">
            Have an account?
            <a style="color: #ff5d3b; font-weight: bold">Sign In</a>
          </p>
          <br/>
          <p style="font-size: smaller; color: #969292">
            By signing up you agree to our<a hrf="" style="color: #ff5d3b"
              >Terms of service</a
            >
            & <a hrf="" style="color: #ff5d3b">Privacy policy</a>
          </p>
        </div>

        <div id="signupimg">
          <img
            id="simg"
            src="https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/signUpBg.jpg"
          />
        </div>
      </div>
      <!-- Sighin form close -->

      <!-- header -->
      <header class="home-header">
        <div class="left-header">
          <div class="stores-contact">
            <a href="#" class="all-stores">All Stores</a>
            <a href="#" class="contact-us">Contact Us</a>
          </div>
          <div class="head-logo">
            <a href="/home"
              ><img
                src="	https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/sslogo.svg"
            /></a>
          </div>
        </div>
        <div class="right-header">
          <div class="search-box">
            <form id="search-bar">
              <input
                type="text"
                id="search-header"
                placeholder="Search Products & Brands"
              />
            </form>
          </div>
          <div class="wishlist-bag-profile">
            <a href="#" class="search-icon">
              <img
                src="https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconsearch.png"
              />
            </a>
            <a href="#" class="wishlist-icon">
              <img
                src="https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconwishlist.png"
              />
            </a>
            <a href="/home/cart" class="bag-icon">
              <img
                src="	https://www.shoppersstop.com/_ui/responsive/common/assets/images/iconaddtobag.png"
              />
            </a>
            <a href="#" class="profile-icon">
              <img
                src="https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconuser.png"
              />
            </a>
            <div class="signin-div">
              <h3 class="h31" id="si2"><a>SIGN IN</a></h3>
              <hr />
              <h3 id="su1"><a>SIGN UP</a></h3>
            </div>
          </div>
        </div>
      </header>
      <!-- Header close -->